@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["title"] = "دسته بندی";
}


    <div class="container pr-1">
        <ul class="breadcrumb bg-white mt-4">
            <li class="breadcrumb-item"><a href="#" class="font-12 vazir">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a href="#" class="pr-2 font-12 vazir">دوره های آموزشی برنامه نویسی وب</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row my-4">

            <div class="col-md-3 ">

                <div class="row">
                    <div class="col-md-12 bg-white shadow-sm mb-3">
                        <p class="font-13 mt-3">نوع دوره </p>
                        <hr>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">رایگان
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">فقط نقدی
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">نقدی و اعضای ویژه
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 bg-white shadow-sm mb-3">
                        <p class="font-13 mt-3">مرتب سازی براساس </p>
                        <hr>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input custom-checkbox" value="" name="sort">جدیدترین
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input custom-checkbox" value="" name="sort">قدیمی ترین
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input custom-checkbox" value="" name="sort">درحال برگزاری
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input custom-checkbox" value="" name="sort">تکمیل شده ها
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!----- Start course title ----->
                    <div class="col-md-12 bg-white shadow-sm">
                        <p class="font-13 mt-3">سرفصل ها </p>
                        <hr>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">HTML
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">Css
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">Bootstrap
                            </label>
                        </div>

                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input custom-checkbox" value="">VUE X
                            </label>
                        </div>
                    </div>
                </div><!----- End course title ----->

            </div>

            <div class="col-md-9">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card mb-3">
                            <div class="sub-layer">
                                <img src="images/bootstrap.jpg" alt="bootstrap" class="img-fluid card-img-top">
                                <div class="over-layer">
                                    <a href="course.html" class="btn btn-primary"> مشاهده و خرید </a>
                                    <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="course.html" class="card-link">آموزش جامع Bootstrap 4</a>
                                <p class="text-justify card-text vazir font-14 mt-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                    روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                            <div class="card-footer">
                                <span class="badge badge-primary badge-pill pt-1">60%</span>
                                <div class="float-left">
                                    <del class="text-muted font-13">120.000 تومان</del>
                                    <small class="text-success mr-2">75.000 تومان</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card mb-3">
                            <div class="sub-layer">
                                <img src="images/vuex1.jpg" alt="VUE X" class="img-fluid card-img-top">
                                <div class="over-layer">
                                    <a href="course.html" class="btn btn-primary"> مشاهده و خرید </a>
                                    <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="course.html" class="card-link">آموزش VUE X</a>
                                <p class="text-justify card-text vazir font-14 mt-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                    روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                            <div class="card-footer">
                                <span class="badge badge-primary badge-pill pt-1">60%</span>
                                <div class="float-left">
                                    <del class="text-muted font-13">120.000 تومان</del>
                                    <small class="text-success mr-2">75.000 تومان</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card mb-3">
                            <div class="sub-layer">
                                <img src="images/html-2.png" alt="HTML" class="img-fluid card-img-top">
                                <div class="over-layer">
                                    <a href="course.html" class="btn btn-primary"> مشاهده و خرید </a>
                                    <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="course.html" class="card-link">آموزش HTML</a>
                                <p class="text-justify card-text vazir font-14 mt-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                    روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                            <div class="card-footer">
                                <span class="badge badge-primary badge-pill pt-1">60%</span>
                                <div class="float-left">
                                    <del class="text-muted font-13">120.000 تومان</del>
                                    <small class="text-success mr-2">75.000 تومان</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card mb-3">
                            <div class="sub-layer">
                                <img src="images/react-2.png" alt="React Native" class="img-fluid card-img-top">
                                <div class="over-layer">
                                    <a href="#" class="btn btn-primary"> مشاهده و خرید </a>
                                    <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="course.html" class="card-link">آموزش جامع React Native</a>
                                <p class="text-justify card-text vazir font-14 mt-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                    روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                            <div class="card-footer">
                                <span class="badge badge-primary badge-pill pt-1">60%</span>
                                <div class="float-left">
                                    <del class="text-muted font-13">120.000 تومان</del>
                                    <small class="text-success mr-2">75.000 تومان</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <ul class="pagination  justify-content-center mb-5">
        <li class="page-item"><a href="#" class="page-link">&lsaquo;</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item active"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">&rsaquo;</a></li>
    </ul>
